//start header
.header {
	position: relative;
	z-index: 1100;
	opacity: 1;
	&.anim {
		@media (min-width: 1290px) {
			opacity: 0;
			animation-name: header;
			animation-duration: 1s;
			animation-timing-function: linear;
			animation-delay: 5s;
			animation-iteration-count: 1;
			animation-direction: alternate;
			animation-fill-mode: forwards;
			@keyframes header {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		};
	}
	// .header__wrapper
	&__wrapper {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		&:before {
			position:absolute;
			content: "";
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			background-color: #1a1a1c;
			box-shadow: 0 7px 9px rgba(0, 0, 0, 0.25);
		}
	}
	// .header__inner
	&__inner {
		position: relative;
		z-index: 55;
		height: 75px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: all 0.3s ease 0s;
		&.active {
			height: 60px;
		}
	}
	// .header__menu-row
	&__menu-row {
		width: 100%;
		@media (max-width: 1530px) {
			.container {
				padding: 0;
			}
		};
	}
	// .header__navigation
	&__navigation {
		display: flex;
		align-items: center;
	}
	// .header__logo-wrap
	&__logo-wrap {
		flex: 0 0 120px;
	}
	// .header__logo
	&__logo {
		width: 100%;
		max-width: 120px;
		& img {
			max-width: 100%;
			object-fit: cover;
			object-position:center;
		}
		@media (max-width: 540px) {
			max-width: 100px;
		};
	}
	// .header__btn-row
	&__btn-row {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		height: 100%;
	}
	// .header__phone
	&__phone {
		margin-left: 30px;
	}
	// .header__catalog
	&__catalog {
		display: none;
		@media (max-width: 991.98px) {
			display: block;
		};
	}
	// .header__phone-link
	&__phone-link, 
	&__catalog-link {
		position: relative;
		color: #fff;
		font-size: 22px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 50px;
		padding-right: 50px;
		border: 2px solid #fff;
		@media (max-width: 1470px) {
			font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1470 - 320)));
			padding-left: calc(15px + (50 - 15) * ((100vw - 320px) / (1470 - 320)));
			padding-right: calc(15px + (50 - 15) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (max-width: 540px) {
			border: 0;
			&:before {
				position:absolute;
				content: "";
				top: 50%;
				left: 50%;
				border: 2px solid #fff;
				transform: translate(-50%, -50%);
				width: 45px;
				height: 45px;
				background-size: 30px 30px;
				background-repeat: no-repeat;
				background-position: center;
			}
			font-size: 0;
		};
	}
	&__phone-link {
		&:before {
			background-image: url('../images/icons/phone-call.svg');
		}
		@media (min-width: 991.98px) {
			transition: all 0.3s ease 0s;
			&:hover {
				border: 2px solid rgba(244, 96, 54, 1);
			}
		};
	}
	&__catalog-link {
		&:before {
			background-image: url('../images/icons/catalog.svg');
		}
	}
	// .header__row
	&__row {
		flex: 1 1 auto;
		max-width: 1000px;
		width: 100%;
		align-items: center;
		margin: 0 auto;
		padding-right: 150px;
		@media (max-width: 991.98px) {
			display: none;
		};
	}
	// .header__menu-list
	&__menu-list {
		display: flex;
		justify-content: center;
	}
	// .header__menu-item
	&__menu-item {
		margin-right: 30px;
		margin-left: 30px;
		@media (max-width: 1470px) {
			margin-right: calc(0px + (30 - 0) * ((100vw - 320px) / (1470 - 320)));
			margin-left: calc(0px + (30 - 0) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .header__menu-link
	&__menu-link {
		color: #fff;
		transition: all 0.3s ease 0s;
		@media (min-width: 991.98px) {
			&:hover {
				color: rgba(244, 96, 54, 1);
			}
		};
	}
}
//end header
//start sila
.sila {
	// .sila__wrapper
	&__wrapper {
		position: relative;
		padding-top: 75px;
		padding-bottom: 115px;
		background-color: #24232c;
		@media (max-width: 1470px) {
			padding-bottom: calc(50px + (115 - 50) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .sila__inner
	&__inner {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		flex-direction: row-reverse;
		&:before, 
		&:after {
			position:absolute;
			text-shadow: 0 7px 5px rgba(0, 0, 0, 0.07), 0 31px 21px rgba(0, 0, 0, 0.12), 0 80px 65px rgba(0, 0, 0, 0.19);
			color: #282834;
			font-family: Montserrat;
			font-size: 160px;
			font-weight: 900;
			z-index: 0;
		}
		&:before {
			content: "ооо";
			top: 17%;
			left: -17.5%;
			@media (max-width: 1500px) {
				display: none;
			};
		}
		&:after {
			color: #171717;
			content: "«SILA»";
			top: 29%;
			right: -11%;
			font-style: italic;
			text-transform: uppercase;
			@media (max-width: 1290px) {
				display: none;
			};
		}
		&.anim {
			&:before, 
			&:after {
				opacity: 0;
				animation-duration: 0.65s;
				animation-timing-function: linear;
				animation-delay: 5.6s;
				animation-iteration-count: 1;
				animation-direction: alternate;
				animation-fill-mode: forwards;
			}
			&:before {
				transform: translateX(-100%);
				animation-name: sila__inner-ooo;
				@keyframes sila__inner-ooo {
					0% {
					transform: translateX(-100%);
					}
					70% {
						transform: translateX(20%);
					}
					100% {
						transform: translateX(0);
						opacity: 1;
					}
				}
			}
			&:after {
				transform: translateX(110%);
				animation-name: sila__inner-sila;
				@keyframes sila__inner-sila {
					0% {
					transform: translateX(100%);
					}
					70% {
						transform: translateX(-20%);
					}
					100% {
						transform: translateX(0);
						opacity: 1;
					}
				}
			}
		}
	}
	// .sila__thumbs-wrap
	&__thumbs-wrap {
		overflow: hidden;
		&.anim {
			@media (max-width: 1750px) {
				transform: translateX(-1500);
				width: 100%;
				@keyframes sila__thumbs-wrap {
					0% {
						opacity: 0;
					}
					100% {
						opacity: 1;
						transform: translateX(0);
					}
				}
			};
			@media (min-width: 1290px) {
				transform: translateX(1500px);
				opacity: 0;
				animation-name: sila__thumbs-wrap;
				animation-duration: 0.5s;
				animation-timing-function: linear;
				animation-delay: 6s;
				animation-iteration-count: 1;
				animation-direction: alternate;
				animation-fill-mode: forwards;
				@keyframes sila__thumbs-wrap {
					0% {
						opacity: 0;
						}
					100% {
						opacity: 1;
						transform: translateX(75px);
					}
				}
			};
		}
	}
	// .sila__top
	&__top {
		position: relative;
		z-index: 1;
		&.anim {
			transform: scale(1.1);
			@media (min-width: 1290px) {
				animation-name: sila__top;
				animation-duration: 0.6s;
				animation-timing-function: linear;
				animation-delay: 5s;
				animation-iteration-count: 1;
				animation-direction: alternate;
				animation-fill-mode: forwards;
				@keyframes sila__top {
					0% {
						transform: scale(1.1);
					}
					80% {
						transform: scale(0.9);
					}
					100% {
						transform: scale(1);
					}
				}
			};
		}
	}
	// .sila__cont
	&__cont {
		max-width: 1080px;
		max-height: 1080px;
		overflow: hidden;
		box-shadow: 0 7px 5px rgba(0, 0, 0, 0.07), 0 31px 21px rgba(0, 0, 0, 0.12), 0 80px 65px rgba(0, 0, 0, 0.19);
		&.sila__thumbs {
			.sila__cont {
				max-width: 1920px;
				width: 100%;
			}
			box-shadow: none;
			overflow: visible;
			.sila__wrap {
				width: 100%;
				max-width: 1920px;
				max-height: 250px;
				@media (max-width: 1290px) {
					max-width: 1290px;
					max-height: 250px;
					max-width: calc(300px + (1290 - 300) * ((100vw - 320px) / (1290 - 320)));
					max-height: calc(50px + (250 - 50) * ((100vw - 320px) / (1290 - 320)));
				};
			}
			.sila__item {
				cursor: pointer;
				max-width: 250px;
				+ .sila__item {
					margin-left: 40px;
					@media (max-width: 1290px) {
						margin-left: calc(5px + (40 - 5) * ((100vw - 320px) / (1290 - 320)));
					};
				}
				@media (max-width: 1290px) {
					max-width: calc(70px + (250 - 70) * ((100vw - 320px) / (1290 - 320)));
					max-height: calc(50px + (250 - 50) * ((100vw - 320px) / (1290 - 320)));
				};
			}
			@media (max-width: 767.98px) {
				display: none;
			};
		}
		@media (max-width: 1290px) {
			@media (max-width: 1470px) {
				max-height: calc(500px + (1080 - 500) * ((100vw - 320px) / (1470 - 320)));
			};
		};
		@media (max-width: 991.98px) {

		};
	}
	// .sila__wrap
	&__wrap {
		display: flex;
		&--vertical {
			flex-direction: column;
		}
	}
	// .sila__item
	&__item {
		flex-shrink: 0;
		width: 100%;
	}
	// .sila__image
	&__image {
		width: 100%;
		& source, img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;
			object-position:center;
		}
	}
	// .sila__navigations
	&__navigations {
		display: flex;
		height: 100%;
		z-index: 11;
		&.anim {
			@media (min-width: 1750px) {
				transform: translateX(50%);
				opacity: 0;
				animation-name: sila__navigations;
				animation-duration: 0.5s;
				animation-timing-function: linear;
				animation-delay: 6s;
				animation-iteration-count: 1;
				animation-direction: alternate;
				animation-fill-mode: forwards;
				@keyframes sila__navigations {
					20% {
						transform: translateX(50%);
						opacity: 0;
					}
					70% {
						transform: translateX(-10%);
					}
					100% {
						opacity: 1;
						transform: translateX(0);
					}
				}
			};
		}
		@media (max-width: 1750px) {
			padding-left: 55px;
		};
		@media (max-width: 1290px) {
			padding-left: 0;
			flex-direction: row;
			justify-content: flex-start;
			margin-top: 30px;
			position: absolute;
			bottom: 0;
			right: 15px;
			height: auto;
		};
	}
	// .sila__pagination
	&__pagination {
		min-width: 110px;
		position: relative;
		text-shadow: 0 7px 5px rgba(0, 0, 0, 0.07), 0 31px 21px rgba(0, 0, 0, 0.12), 0 80px 65px rgba(0, 0, 0, 0.19);
		font-family: Montserrat;
		font-weight: 400;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translate(-25px, -30px);
		&:before {
			position:absolute;
			content: "";
			top: 64%;
			transform: translate(-50%, -50%);
			left: 50%;
			width: 77px;
			height: 4px;
			background-color: rgba(255, 255, 255, 0.35);
			@media (max-width: 1290px) {
				top: 50%;
				height: calc(2px + (4 - 2) * ((100vw - 320px) / (1290 - 320)));
				width: calc(20px + (77 - 20) * ((100vw - 320px) / (1290 - 320)));
			};
		}
		@media (max-width: 1750px) {
			transform: translate(0, -30px);
			margin-left: 50px;
		};
		@media (max-width: 1290px) {
			min-width: auto;
			transform: translate(0);
			margin-left: 0;
			margin: 0 20px;
		};
	}
	// .sila__fraction-curent
	&__fraction-curent {
		color: #fff;
		font-size: 160px;
		line-height: 180 / 160 * 100%;
	}
	// .sila__fraction-total
	&__fraction-total {
		font-size: 86px;
		line-height: 120 / 86 * 100%;
		color: rgba(255, 255, 255, 0.35);
		transform: translateY(20px);
		@media (max-width: 1290px) {
			transform: translateY(0);
		};
	}
	&__fraction-curent, 
	&__fraction-total {
		@media (max-width: 1290px) {
			font-size: 50px;
			line-height: 70 / 50 * 100%;
			font-size: calc(25px + (50 - 25) * ((100vw - 320px) / (1290 - 320)));
		};
	}
	// .sila__buttons
	&__buttons {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		transform: translateX(-15px);
		@media (max-width: 1750px) {
			padding: 0 35px;
		};
		@media (max-width: 1290px) {
			flex-direction: row;
			transform: translateX(0);
			padding: 0;
		};
	}
	&__button-prev, 
	&__button-next {
		position: relative;
		&:before {
			transition: all 0.3s ease 0s;
			position:absolute;
			content: "";
			left: 50%;
			top: 0;
			width: 30px;
			transform: translateX(-50%);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			@media (max-width: 1290px) {
				display: none;
			};
		}
		&:after {
			display: none;
		}
		&.swiper-button-disabled {
			opacity: 0.35;
		}
		@media (max-width: 1290px) {
			margin: 20px;
			height: 65px;
			width: 65px;
			border-radius: 50%;
			background-color: #fff;
			box-shadow: 0 0 20px rgba(37, 36, 46, 1);
			&:after {
				position:absolute;
				content: "";
				display: inline-block;
				width: 26px;
				height: 32px;
				left: 50%;
				top: 50%;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
			height: calc(45px + (65 - 45) * ((100vw - 320px) / (1290 - 320)));
			width: calc(45px + (65 - 45) * ((100vw - 320px) / (1290 - 320)));
		}
		@media (max-width: 479.98px) {
			margin: 10px;
		};
	}
	// .sila__button-next
	&__button-next {
		height: 173px;
		margin-top: 22px;
		&:before {
			height: 183px;
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 183.01'%3E%3Cpolygon fill='%23fff' points='0.73,157.95 14.77,182.94 29.18,157.95 17.49,157.96 17.4,0.8 12.01,0.81 12.02,157.95 '/%3E%3C/svg%3E%0A");
		}
		&:after {
			transform: translate(-55%, -50%);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 14'%3E%3Cpath fill='%23171717' fill-rule='nonzero' d='M2.65 6.98l4.66 -4.94c0.33,-0.35 0.33,-0.93 0,-1.28 -0.34,-0.36 -0.88,-0.36 -1.22,0l-5.27 5.58c-0.16,0.18 -0.25,0.41 -0.25,0.64 0,0.23 0.09,0.46 0.25,0.64l5.27 5.58c0.34,0.36 0.88,0.36 1.22,0 0.33,-0.35 0.33,-0.93 0,-1.28l-4.66 -4.94z'/%3E%3C/svg%3E%0A");
		}
	}
	// .sila__button-prev
	&__button-prev {
		height: 73px;
		&:before {
			height: 73px;
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 75'%3E%3Cpolygon fill='%23fff' points='0.88,25.77 14.93,0.79 29.34,25.77 17.65,25.76 17.56,75.44 12.17,75.43 12.18,25.77 '/%3E%3C/svg%3E%0A");
		};
		&:after {
			transform: translate(-45%, -50%);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 14'%3E%3Cpath fill='%23171717' fill-rule='nonzero' d='M5.49 6.98l-4.67 -4.94c-0.33,-0.35 -0.33,-0.93 0,-1.28 0.34,-0.36 0.88,-0.36 1.22,0l5.27 5.58c0.17,0.18 0.25,0.41 0.25,0.64 0,0.23 -0.08,0.46 -0.25,0.64l-5.27 5.58c-0.34,0.36 -0.88,0.36 -1.22,0 -0.33,-0.35 -0.33,-0.93 0,-1.28l4.67 -4.94z'/%3E%3C/svg%3E%0A");
		}
	}
	// .sila__main-cont
	&__main-cont {
		position: absolute;
		top: -35px;
		width: 100%;
		height: 100%;
		z-index: 2;
		display: flex;
		align-items: center;
		@media (max-width: 1290px) {
			top: 250px;
			height: 900px;
			align-items: flex-start;
			top: calc(170px + (250 - 170) * ((100vw - 320px) / (1470 - 320)));
			height: calc(400px + (900 - 400) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .sila__title-wrap
	&__title-wrap {
		display: flex;
		justify-content: flex-end;
	}
	// .sila__title-cont
	&__title-cont {
		flex: 0 1 66%;
		@media (max-width: 1290px) {
			flex: 0 1 90%;
		};
	}
	// .sila__title
	&__title {
		font-weight: 900;
		white-space: nowrap;
		:first-child {
			font-size: 100px;
			line-height: 130 / 100 * 100%;
			@media (max-width: 1470px) {
				font-size: calc(20px + (100 - 20) * ((100vw - 320px) / (1470 - 320)));
			};
		}
		:last-child {
			font-size: 135px;
			line-height: 160 / 135 * 100%;
			@media (max-width: 1470px) {
				font-size: calc(35px + (135 - 35) * ((100vw - 320px) / (1470 - 320)));
			};
		}
		&.anim {
			@media (min-width: 1290px) {
				transform: translateX(-40%);
				animation-name: sila__title;
				animation-duration: 1.3s;
				animation-timing-function: linear;
				animation-delay: 5s;
				animation-iteration-count: 1;
				animation-direction: alternate;
				animation-fill-mode: forwards;
				@keyframes sila__title {
					0% {
						transform: translateX(-40%);
					}
					80% {
						transform: translateX(7%);
					}
					100% {
						transform: translateX(0);
					}
				}
			};
		}
	}
	// .sila__subtitle
	&__subtitle {
		font-weight: 400;
		font-size: 50px;
		line-height: 50 / 50 * 100%;
		font-style: italic;
		@media (max-width: 1470px) {
			font-size: calc(16px + (50 - 16) * ((100vw - 320px) / (1470 - 320)));
		};
		&.anim {
			@media (min-width: 1290px) {
				animation-name: sila__subtitle;
				animation-duration: 1s;
				animation-timing-function: linear;
				animation-delay: 5s;
				animation-iteration-count: 1;
				animation-direction: alternate;
				animation-fill-mode: none;
				@keyframes sila__subtitle {
					0% {
						opacity: 0;
					}
					50% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
				}
			};
		}
	}
	// .sila__button-wrap
	&__button-wrap {
		position: relative;
		display: flex;
		justify-content: flex-end;
		margin: 15px 0;
	}
	// .sila__button-cont
	&__button-cont {
		flex: 0 1 37%;
		padding: 60px 0 50px;
		&.anim {
			@media (min-width: 1290px) {
				transform: translateX(-10%);
				opacity: 0;
				animation-name: sila__button-cont;
				animation-duration: 1s;
				animation-timing-function: linear;
				animation-delay: 6.5s;
				animation-iteration-count: 1;
				animation-direction: alternate;
				animation-fill-mode: forwards;
				@keyframes sila__button-cont {
					0% {
						transform: translateX();
					}
					50% {
						opacity: 1;
					}
					70% {
						transform: translateX(10%);
					}
					100% {
						opacity: 1;
						transform: translateX(0);
					}
				}
			};
		}
		@media (max-width: 1290px) {
			flex: 0 1 90%;
		};
		@media (max-width: 767.98px) {
			padding: 40px 0 0;
		};
	}
	// .sila__btn
	&__btn {
		position: relative;
		max-width: 208px;
		width: 100%;
		height: 100%;
		color: #fff;
		display: flex;
		align-items: center;
		font-size: 20px;
		line-height: 26 / 10 * 100%;
		font-weight: 600;
		text-transform: uppercase;
		padding-left: 30px;
		padding-top: 10px;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			max-width: 100%;
			object-fit: cover;
			object-position:center;
			z-index: -1;
		}
		&:before {
			cursor: default;
			position:absolute;
			content: "";
			top: -58px;
			right: -87px;
			width: 160px;
			height: 162px;
			z-index: -2;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%0AviewBox='0 0 1795 1913.09'%3E%3Cpolygon fill='white' fill-rule='nonzero' points='1007.18,52.32 993.66,6.09 964.57,44.59 813.94,243.86 793.18,271.38 793.42,271.38 699.64,395.94 692.64,405.36 692.64,405.36 684.07,416.58 584.74,547.66 573.63,562.14 52.58,488.52 6.11,481.88 27.72,523.64 82.27,629.13 87.22,638.91 97.84,641.56 347.71,705.27 499.55,693.68 120.29,597.27 92.29,543.07 840.38,648.81 849.91,601.25 645.33,547.9 714.12,457.26 905.43,483.93 914.85,436.5 760.23,396.19 832.77,299.75 954.19,321.47 965.78,274.52 873.45,245.68 974.23,112.18 1139.7,675.96 1143.2,687.79 1154.79,691.89 1678.98,881.51 1200.78,1195.81 1190.16,1202.81 1189.91,1215.48 1176.15,1793.62 770.73,1426.22 699.04,1426.22 159.64,1582.4 216.16,1422.25 164.74,1422.25 98.33,1610.65 82.76,1655.06 127.9,1642.03 740.92,1464.48 1182.79,1865.2 1222.02,1900.8 1223.35,1847.82 1238.07,1229.36 1746.09,895.39 1786.52,868.84 1741.02,852.3 1182.79,650.5 '/%3E%3C/svg%3E%0A");
			@media (max-width: 767.98px) {
				top: -35px;
				right: -65px;
				width: 99px;
				height: 99px;
			};
		}
		@media (min-width: 991.98px) {
			&:hover {
				animation-name: sila__btn;
				animation-duration: 0.3s;
				animation-timing-function: linear;
				animation-delay: 5s;
				animation-iteration-count: 1;
				animation-direction: alternate;
				animation-fill-mode: forwards;
				@keyframes sila__btn {
					0% {
						transform: translateX(0);
					}
					50% {
						transform: translateX(10px);
					}
					80% {
						transform: translateX(-5px);
					}
					100% {
						transform: translateX(0);
					}
				}
			}
		};
		@media (max-width: 767.98px) {
			max-width: 120px;
			font-size: 12px;
			padding-left: 20px;
			padding-top: 7px;
		};
	}
	// .sila__dinamic
	&__dinamic {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@media (max-width: 1750px) {
			flex-direction: row-reverse;
		};
		@media (max-width: 1290px) {
			flex-direction: column-reverse;
			align-items: center;
			justify-content: center;
			padding-right: 0;
		};
	}
}
//end sila
//start about
.about {
	// .about__wrapper
	&__wrapper {
		position: relative;
		background-color: #171717;
		padding-top: 60px;
		padding-bottom: 120px;
		@media (max-width: 1500px) {
			padding-top: 120px;
		};
		@media (max-width: 479.98px) {
			padding-top: 80px;
		};

	}
	// .about__bg
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	// .about__bg-image
	&__bg-image {
		position: absolute;
		top: 0;
		left: 50%;
		transition: all 1.5s ease 0s;
		transform: translate(250%, -150px);
		height: 100%;
		z-index: 0;
		& img {
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
			object-position:center;
		}
		@media (min-width: 1290px) {
			&.active-anim {
				transform: translate(-50.5%, -150px);
			}
		};
	}
	// .about__content
	&__content {
		position: relative;
		z-index: 2;
	}
	// .about__heading
	&__heading {
		max-width: 890px;
		margin: 0 auto;
		text-align: center;
		:first-child {
			color: #f46036;
			font-size: 60px;
			font-weight: 400;
			line-height: 78px;
			@media (max-width: 1470px) {
				font-size: calc(40px + (60 - 40) * ((100vw - 320px) / (1470 - 320)));
			};
		}
		:last-child {
			color: #ffffff;
			font-size: 35px;
			font-weight: 400;
			line-height: 45 / 35 * 100%;
			@media (max-width: 1470px) {
				font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1470 - 320)));
			};
		}
		@media (max-width: 1470px) {
			margin-bottom: 65px;
			margin-bottom: calc(25px + (65 - 25) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .about__discription
	&__discription {
		@media (min-width: 991.98px) {
			display: flex;
		};
	}
	&__text, 
	&__images-box {
		flex: 1 1 50%;
		@media (max-width: 991.98px) {
			flex: 1 1 auto;
		};
	}
	// .about__text
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-right: 30px;
		@media (max-width: 767.98px) {
			padding-right: 0;
		};
	}
	// .about__paragraf
	&__paragraf {
		display: block;
		+ .about__paragraf {
			margin-top: 60px;
			@media (max-width: 1470px) {
				margin-top: calc(25px + (60 - 25) * ((100vw - 320px) / (1470 - 320)));
			};
		}
		@media (max-width: 1470px) {
			font-size: calc(14px + (22 - 14) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .about__images
	&__images {
		position: relative;
		text-align: right;
		padding-left: 30px;
		@media (max-width: 991.98px) {
			padding-left: 0;
			margin-top: 30px;
		};
	}
	// .about__image
	&__image {
		max-width: 468px;
		box-shadow: -4px 0 9px rgba(0, 0, 0, 0.07), -17px -2px 26px rgba(0, 0, 0, 0.12), -43px -4px 69px rgba(0, 0, 0, 0.16), -85px -8px 158px rgba(0, 0, 0, 0.23);
		& source, img {
			max-width: 100%;
			object-fit: cover;
			object-position:center;
		}
		&--absolut {
			position: absolute;
			bottom: -35px;
			left: 40px;
			max-width: 368px;
		}
		@media (min-width: 1290px) {
			&--absolut {
				transform: translateX(-70px);
			}
			&--static {
				margin-right: -70px;
			}
			&--absolut, 
			&--static {
				transition: all 0.3s ease 1s;
				&.active-anim {
					transform: translateX(0);
					margin-right: 0;
				}
			}
		};
	}
}
//end about
// start suggestion
.suggestion {
	position: relative;
	z-index: 20;
	// .suggestion__wrapper
	&__wrapper {
		padding-top: 120px;
		padding-bottom: 120px;
		width: 100%;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 9px 22px rgba(0, 0, 0, 0.09), 0 41px 97px rgba(0, 0, 0, 0.15);
		background-color: #f46036;
		@media (max-width: 1470px) {
			padding-top: calc(60px + (120 - 60) * ((100vw - 320px) / (1470 - 320)));
			padding-bottom: calc(60px + (120 - 60) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .suggestion__row
	&__row {
		position: relative;
		display: flex;
		align-items: center;
		z-index: 10;
		@media (max-width: 767.98px) {
			display: block;
		};
	}
	// .suggestion__item
	&__item {
		&--center {
			text-align: left;
			color: #171717;
			max-width: 750px;
			padding-right: 40px;
		}
		&--attantion {
			padding: 0 80px;
			transition: all 0.3s ease 0s;
			transform: scale(0.7);
			@media (max-width: 1500px) {
				padding: 0 60px 0 0;
			};
			@media (min-width: 1290px) {
				&.active-anim {
					animation-name: suggestion__item;
					animation-duration: 0.6s;
					animation-timing-function: linear;
					animation-delay: 0s;
					animation-iteration-count: 1;
					animation-direction: alternate;
					animation-fill-mode: forwards;
					@keyframes suggestion__item {
						0% {
							transform: scale(0.7);
						}
						50% {
							transform: scale(1.2);
						}
						100% {
							transform: scale(1);
						}
					}
				}
			};
			@media (max-width: 1200px) {
				padding: 0;
			};
			@media (max-width: 991.98px) {
				display: none;
			};
		}
		&--button {
			margin-top: 30px;
			padding: 50px 0;
		}
	}
	// .suggestion__title
	&__title {
		font-size: 42px;
		line-height: 50 / 42 * 100%;
		font-weight: 600;
		@media (max-width: 1470px) {
			font-size: calc(35px + (42 - 35) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .suggestion__paragraf
	&__paragraf {
		font-size: 22px;
		font-weight: 400;
		line-height: 28.6 / 22 * 100%;
		margin-top: 40px;
		@media (max-width: 1470px) {
			margin-top: calc(25px + (40 - 25) * ((100vw - 320px) / (1470 - 320)));
			font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .suggestion__btn
	&__btn {
		position: relative;
		color: #fff;
		font-size: 20px;
		line-height: 26 / 20 * 100%;
		background-color: #282834;
		padding: 18px 115px 18px 21px;
		white-space: nowrap;
		&:before, 
		&:after {
			transition: all 0.3s ease 0s;
			position:absolute;
			content: "";
			top: 50%;
			transform: translateY(-50%);
			background-color: #fff;
		}
		&:before {
			right: 21px;
			width: 71px;
			height: 1px;
		}
		&:after {
			transition: all 0.9s ease 1s;
			left: 50px;
			width: 142px;
			height: 142px;
			z-index: -1;
			transform: translateY(-50%) rotate(180deg);
		}
		@media (min-width: 1290px) {
			&.active-anim {
				&:after {
					transform: translateY(-50%) rotate(0);
				}
			}
		};
		@media (min-width: 991.98px) {
			&:hover {
				&:after {
					left: 40px;
				}
			}
		};
		@media (max-width: 335px) {
			padding: 18px 80px 18px 21px;
			&:before {
				right: 20px;
				width: 40px;
			}
		};
	}
}
// end suggestion
// start catalog
.catalog {
	// .catalog__wrapper
	&__wrapper {
		position: relative;
		z-index: 50;
		background-color: #201f25;
		padding-top: 100px;
		padding-bottom: 122px;
		@media (max-width: 1470px) {
			padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1470 - 320)));
			padding-bottom: calc(50px + (122 - 50) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .catalog__title
	&__title {
		padding-bottom: 70px;
		@media (max-width: 1470px) {
			padding-bottom: calc(30px + (70 - 30) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (max-width: 479.98px) {
			font-size: 45px;
		};
	}
	// .catalog__text-row
	&__text-row {
		@media (min-width: 991.98px) {
			display: flex;
		};
	}
	// .catalog__text-item
	&__text-item {
		flex: 1 1 50%;
		&--left {
			padding-right: 100px;
			& span {
				color: #f46036;
				font-weight: 600;
			}
			@media (max-width: 1470px) {
				font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1470 - 320)));
			};
		}
		&--right {
			font-size: 20px;
			line-height: 37 / 20 * 100%;
			font-weight: 300;
			padding-left: 20px;
			@media (max-width: 1470px) {
				font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1470 - 320)));
			};
		}
		@media (max-width: 991.98px) {
			flex: 1 1 auto;
			+ .catalog__text-item {
				margin-top: 20px;
			}
			&--left, 
			&--right {
				padding: 0;
			}
		};
	}
	// .catalog__subtitle
	&__subtitle {
		font-size: 60px;
		font-weight: 900;
		line-height: 75 / 60 * 100%;
		margin-top: 65px;
		margin-bottom: 60px;
		@media (max-width: 1470px) {
			font-size: calc(40px + (60 - 40) * ((100vw - 320px) / (1470 - 320)));
			margin-top: calc(40px + (65 - 40) * ((100vw - 320px) / (1470 - 320)));
			margin-bottom: calc(0px + (60 - 0) * ((100vw - 320px) / (1470 - 320)));
		};
		&--premium {
			color: #f46036;
			margin-top: 100px;
		}
	}
}
// end catalog
//start cards
.cards {
	// .cards__row
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -18px;
		&--borders {
			display: none;
			&.active {
				display: flex;
			}
		}
	}
	// .cards__mafs-wrapper
	&__mafs-wrapper {
		width: 100%;
	}
	// .cards__maf-content
	&__maf-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	// .cards__maf-item
	&__maf-item {
		display: none;
		&.active {
			display: flex;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	// .cards__item
	&__item {
		max-width: 500px;
		padding: 18px;
	}
	// .cards__item-inner
	&__item-inner {
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 100%;
		background-color: #282834;
		box-shadow: 0 7px 5px rgba(0, 0, 0, 0.07), 0 31px 21px rgba(0, 0, 0, 0.12), 0 80px 65px rgba(0, 0, 0, 0.19);
	}
	// .cards__content
	&__content {
		flex: 1 0 auto;
	}
	// .cards__image
	&__image {
		width: 100%;
		max-width: 500px;
		& source, img {
			max-width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	// .cards__title
	&__title {
		font-size: 36px;
		line-height: 45 / 36 * 100%;
		font-weight: 600;
		text-align: center;
		@media (max-width: 1470px) {
			font-size: calc(30px + (36 - 30) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .cards__subtitle
	&__subtitle {
		text-align: center;
		margin-top: 10px;
		font-size: 18px;
		line-height: 32.4 / 18 * 100%;
		:first-child {
			margin-left: 10px;
		}
		& span {
			font-weight: 500;
		}
		&--border {
			margin-top: 30px;
			margin-bottom: 50px;
			@media (max-width: 1470px) {
				margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1470 - 320)));
				margin-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (1470 - 320)));
			};
		}
	}
	// .cards__heading
	&__heading {
		padding: 30px 45px 0;
		@media (max-width: 479.98px) {
			padding: 43px 20px 0;
		};
	}
	// .cards__discription
	&__discription {
		padding-top: 10px;
	}
	// .cards__info
	&__info {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin: 12px 0;
		font-size: 18px;
		line-height: 32.4 / 18 * 100%;
		@media (max-width: 1470px) {
			font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1470 - 320)));
		};
		&:before {
			position:absolute;
			content: "";
			top: 50%;
			left:0;
			transform: translateY(-50%);
			width: 100%;
			height: 1px;
			background-color: #fff;
			z-index: 0;
		}
	}
	&__elem-name, 
	&__elem-value {
		position: relative;
		background-color: #282834;
		z-index: 2;
	}

	// .cards__elem-name
	&__elem-name {
		padding-right: 20px;
		@media (max-width: 479.98px) {
			padding-right: 10px;
		};
	}
	// .cards__elem-value
	&__elem-value {
		font-weight: 500;
		padding-left: 20px;
		@media (max-width: 479.98px) {
			padding-left: 10px;
		};
	}
	// .cards__footer
	&__footer {
		flex: 0 0 auto;
		position: relative;
	}
	// .cards__open-discription
	&__open-discription {
		background-color: transparent;
		color: #fff;
		font-size: 22px;
		padding: 10px 0;
		margin-left: 45px;
		transition: all 0.3s ease 0s;
		&--margin {
			margin-bottom: 30px;
		}
		@media (min-width: 991.98px) {
			&:hover {
				color: #f36036;
			}
		};
		@media (max-width: 479.98px) {
			margin-left: 20px;
		};
	}
	// .cards__close-discription
	&__close-discription {
		position: absolute;
		bottom: -100%;
		left: 50%;
		transform: translateX(-50%);
		padding: 25px 0;
		width: 100%;
		font-size: 25px;
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;
		background-color: #f36036;
		transition-duration: 0.3s;
		z-index: 50;
		&.active {
			bottom: 0;
		}
		@media (min-width: 991.98px) {
			&:hover {
				background-color: rgba(243, 96, 54, 0.5);
			}
		};
	}
	// .cards__discription-text
	&__discription-text {
		overflow: auto;
		position: absolute;
		top: -100%;
		left: 0;
		font-size: 24px;
		width: 100%;
		height: 100%;
		background-color: rgba(40, 40, 52, 0.9);
		padding: 40px 30px 100px;
		z-index: 10;
		backdrop-filter: blur(5px);
		transition: all 0.3s ease 0s;
		& p {
			margin-bottom: 20px;
		}
		&.active {
			top: 0;
		}
		&::-moz-scrollbar {
			width: 0;
			height: 0;
		}
		@media (max-width: 1470px) {
			font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .cards__colors
	&__colors {
		margin: 27px -10px 25px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		@media (max-width: 479.98px) {
			margin: 5px -10px 20px;
		};
	}
	&__colors, 
	&__price {
		padding: 0 45px;
		@media (max-width: 479.98px) {
			padding-left: 20px;
			padding-right: 20px;
		};
	}
	// .cards__color
	&__color {
		width: 50px;
		height: 50px;
		margin: 10px;
		background-color: #9c9c9c;
		transition: all 0.3s ease 0s;
		// + .cards__color {
		// 	margin-left: 10px;
		// }
		&.active {
			box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
		}
		&--grey {
			background-color: #9c9c9c;
		}
		&--red {
			background-color: #de3a3a;
		}
		&--brown {
			background-color: #996633;
		}
		&--yellow {
			background-color: #fceb4c;
		}
		&--orange {
			background-color: #fc8803;
		}
		&--beige {
			background-color: #ffd2b3;
		}
		&--black {
			background-color: #171717;
		}
		&--green {
			background-color: #669933;
		}
		&--color-mix {
			background-color: transparent;
			background-position: center;
			background-size: 50px 50px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpolygon fill='%239C9C9C' fill-rule='nonzero' points='25,0 0,0 25,25 '/%3E%3Cpolygon fill='%23DE3A3A' fill-rule='nonzero' points='50,0 25,0 25,25 '/%3E%3Cpolygon fill='%23996633' fill-rule='nonzero' points='50,25 50,0 25,25 '/%3E%3Cpolygon fill='%23FCEB4C' fill-rule='nonzero' points='50,50 50,25 25,25 '/%3E%3Cpolygon fill='%23FC8803' fill-rule='nonzero' points='25,50 50,50 25,25 '/%3E%3Cpolygon fill='%23FFD2B3' fill-rule='nonzero' points='0,50 25,50 25,25 '/%3E%3Cpolygon fill='%23171717' fill-rule='nonzero' points='0,25 0,50 25,25 '/%3E%3Cpolygon fill='%23669933' fill-rule='nonzero' points='0,0 0,25 25,25 '/%3E%3C/svg%3E%0A");
		}
	}
	// .cards__price
	&__price {
		padding-top: 21px;
		padding-bottom: 21px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #171717;
	}
	// .cards__count
	&__count {
		font-size: 30px;
		font-weight: 600;
		line-height: 54 / 30 * 100%;
		@media (max-width: 1470px) {
			font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .cards__num
	&__num {
		display: none;
		padding-right: 66px;
		position: relative;
		&:before {
			position:absolute;
			content: "руб";
			top:0;
			right: 0;
		}
		&.active {
			display: inline-block;
		}
	}
	// .cards__open
	&__open {
		color: #fff;
		font-size: 22px;
		font-weight: 500;
		line-height: 39.6 / 22 * 100%;
		text-decoration: underline;
		@media (max-width: 1470px) {
			font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1470 - 320)));
		};
	}
}
//end cards
//start borders
.borders {
	// .borders__wrapper
	&__wrapper {
		overflow: hidden;
		position: relative;
		background-color: #f46036;
		padding-bottom: 110px;
		padding-top: 90px;
		@media (max-width: 1470px) {
			padding-top: calc(50px + (90 - 50) * ((100vw - 320px) / (1470 - 320)));
			padding-bottom: calc(50px + (110 - 50) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (max-width: 767.98px) {
			.container-fluid {
				padding: 0;
			}
		};
	}
	// .borders__inner
	&__inner {
		position: relative;
		&:after, 
		&:before {
			position:absolute;
			content: "";
		}
		&:before {
			top: 15%;
			left: 53%;
			width: 100%;
			height: 1081px;
			background-color: #fff;
			z-index: 5;
			@media (max-width: 1030px) {
				height: 80%;
			};
			@media (max-width: 650px) {
				display: none;
			};
		}
		&:after {
			top: 0;
			right: 0;
			width: 0;
			height: 95%;
			background-color: #282834;
			z-index: 50;
			transition: all 1s ease 0s;
			@media (max-width: 1470px) {
				width: calc(44px + (88 - 44) * ((100vw - 320px) / (1470 - 320)));
			};
			@media (max-width: 1250px) {
				display: none;
			};
		}
		@media (min-width: 1290px) {
			&.active-anim {
				&:after {
					width: 88px;
				}
			}
		};
	}
	// .borders__title-box
	&__title-box {
		position: relative;
		& img {
			position: absolute;
			top: -37px;
			left: 47px;
			width: 348px;
			height: 368px;
			opacity: 1;
			@media (max-width: 1470px) {
				width: calc(150px + (348 - 150) * ((100vw - 320px) / (1470 - 320)));
				height: calc(150px + (348 - 150) * ((100vw - 320px) / (1470 - 320)));
			};
			@media (min-width: 1290px) {
				transition: all 0.6s ease 0s;
				transform: rotate(180deg);
				&.active-anim {
					transform: rotate(0);
				}
			};
			@media (max-width: 991.98px) {
				opacity: 0.5;
			};
			@media (max-width: 479.98px) {
				display: none;
			};
		}
		@media (max-width: 767.98px) {
			padding-left: 15px;
		};
	}
	// .borders__title
	&__title {
		position: relative;
		z-index: 4;
		&:after {
			position:absolute;
			content: "";
			z-index: -1;
			bottom: 0;
			left: 0;
			height: 3px;
			width: 100%;
			background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 100%);
			@media (max-width: 991.98px) {
				display: none;
			};
		}
		@media (min-width: 1290px) {
			transition: all 0.6s ease 0s;
			transform: translateX(25%);
			&.active-anim {
				transform: translateY(0);
				&:after {
					left: 250px;
				}
			}
		};
	}
	// .borders__container
	&__container {
		position: relative;
		z-index: 100;
	}
	// .borders__buttons
	&__buttons, 
	&__buttons--maf {
		text-align: center;
		margin-bottom: 50px;
		margin-top: 30px;
		&--maf {
			margin: 0;
		}
		@media (max-width: 1470px) {
			margin-top: calc(20px + (30 - 20) * ((100vw - 320px) / (1470 - 320)));
			margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .borders__btn
	&__btn, 
	&__btn--trig, 
	&__btn--maf {
		padding: 26px 0;
		margin: 10px;
		max-width: 256px;
		width: 100%;
		color: #171717;
		background-color: #f5744f;
		border: 2px solid transparent;
		font-size: 20px;
		font-weight: 600;
		outline: none;
		transition: all 0.3s ease 0s;
		&.active {
			background-color: #fff;
			box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.05), 5px 15px 16px rgba(0, 0, 0, 0.07), 14px 40px 49px rgba(0, 0, 0, 0.12);
			font-weight: 600;
		}
		@media (min-width: 991.98px) {
			&:hover {
				border: 2px solid rgba(40, 40, 52, .5);
			}
		};
	}
}
//end borders
//start galary
.galary {
	// .galary__Inner
	&__Inner {
		background-color: #201f25;
		padding-top: 112px;
		padding-bottom: 112px;
		@media (max-width: 1470px) {
			padding-top: calc(20px + (112 - 20) * ((100vw - 320px) / (1470 - 320)));
			padding-bottom: calc(20px + (112 - 20) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .galary__title
	&__title {
		font-size: 164px;
		line-height: 200 / 164 * 100%;
		@media (max-width: 1470px) {
			font-size: calc(50px + (164 - 50) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .galary__slider-line
	&__slider-line {
		display: flex;
		width: 100%;
		align-items: center;
		&--rewerse {
			flex-direction: row-reverse;
		}
	}
	// .galary__control
	&__control {
		flex: 1 0 35%;
		padding: 0 30px;
		&--reverse {
			text-align: right;
		}
		@media (max-width: 767.98px) {
			padding: 0 10px;
			flex: 1 0 20%;
		};
	}
	// .galary__carousel
	&__carousel {
		position: relative;
		width: 100%;
		margin: 20px 0;
	}
	// .galary__container
	&__container-layout, 
	&__container-works {
		max-width: 1397px;
	}
	// .galary__wrapper
	&__wrapper-layout, 
	&__wrapper-works {

	}
	// .galary__item
	&__item-layout, 
	&__item-works {
		width: 100%;
		max-width: 451px;
		position: relative;
		&:before {
			position:absolute;
			content: "";
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			z-index: 5;
		}
	}
	// .galary__image
	&__image {
		
	}
	// .galary__control-btn
	&__works-btn, 
	&__layout-btn {
		width: 217px;
		height: 104px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		@media (max-width: 1470px) {
			width: calc(50px + (217 - 50) * ((100vw - 320px) / (1470 - 320)));
			height: calc(30px + (104 - 30) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	&__works-btn {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 217 104'%3E%3Cpolygon fill='%2336353B' points='126.87,0.01 126.59,42.72 -0.31,43.03 -0.31,61.17 126.63,61.38 126.65,103.92 216.18,51.87 '/%3E%3C/svg%3E%0A");
	}
	&__layout-btn {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 217 104'%3E%3Cpolygon fill='%2336353B' fill-rule='nonzero' points='89.44,2.58 89.71,43.48 211.23,43.78 211.23,61.15 89.66,61.35 89.65,102.09 3.91,52.24 '/%3E%3C/svg%3E%0A");
	}
	// .galary__text
	&__text {
		font-size: 46px;
		line-height: 55 / 46 * 100%;
		font-weight: 300;
		text-transform: uppercase;
		margin-top: 30px;
		@media (max-width: 1470px) {
			font-size: calc(10px + (46 - 10) * ((100vw - 320px) / (1470 - 320)));
			margin-top: calc(0px + (30 - 0) * ((100vw - 320px) / (1470 - 320)));
		};
		&--left {
			text-align: right;
		}
		&--left {
			text-align: left;
		}
	}
}
//end galary
//start delivery
.delivery {
	// .delivery__wrapper
	&__wrapper {
		background-color: #171717;
		padding-top: 164px;
		padding-bottom: 160px;
		@media (max-width: 1470px) {
			padding-top: calc(30px + (164 - 30) * ((100vw - 320px) / (1470 - 320)));
			padding-bottom: calc(30px + (160 - 30) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .delivery__cards
	&__cards {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		@media (max-width: 767.98px) {
			flex-direction: column;
			align-items: center;
		};
	}
	// .delivery__item
	&__item {
		padding: 0 20px;
		max-width: 300px;
	}
	// .delivery__image
	&__image {
		margin: 0 auto;
		width: 100%;
		& img {
			max-width: 100%;
			object-fit: cover;
			object-position:center;
		}
		&--1 {
			max-width: 220px;
		}
		&--2 {
			max-width: 192px;
		}
		&--3 {
			max-width: 138px;
		}
		@media (max-width: 767.98px) {
			max-width: 50%;
		};
	}
	// .delivery__text
	&__text {
		text-align: center;
		padding-top: 50px;
		font-size: 30px;
		line-height: 38 / 30 * 100%;
		font-weight: 500;
		text-transform: uppercase;
		@media (max-width: 1470px) {
			font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (max-width: 767.98px) {
			padding: 20px 0 40px;
		};
	}
}
//end delivery
//start partners
.partners {
	// .partners__wrapper
	&__wrapper {
		background-color: #201f25;
		padding-top: 100px;
		@media (max-width: 1650px) {
			padding-bottom: 115px;
		};
		@media (max-width: 1470px) {
			padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1470 - 320)));
			padding-bottom: calc(20px + (115 - 20) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .partners__content
	&__content {
		position: relative;
		display: flex;
		align-items: center;
		z-index: 4;
		transform: translateY(-155px);
		@media (max-width: 1650px) {
			transform: translateY(0);
			margin-top: 50px;
		};
		@media (max-width: 900px) {
			display: block;
			margin-top: 25px;
		};
	}
	&__text-block, 
	&__image-block {
		flex: 1 1 50%;
		@media (max-width: 900px) {
			flex: 1 1 auto;
		};
	}
	// .partners__title
	&__title {
		position: relative;
		white-space: nowrap;
		z-index: 5;
		& div {
			@media (min-width: 1150px) {
				display: inline-block;
			};
		}
		& span {
			position: relative;
			line-height: 100%;
			&:before {
				position:absolute;
				content: "";
				top: 12px;
				left: -15px;
				width: 105%;
				height: 90%;
				background-color: #fff;
				z-index: -1;
				@media (max-width: 1470px) {
					top: calc(4px + (12 - 4) * ((100vw - 320px) / (1470 - 320)));
				};
				@media (max-width: 479.98px) {
					left: -5px;
				};
			}
		}
		@media (max-width: 1150px) {
			white-space: normal;
		};
		@media (max-width: 479.98px) {
			font-size: 35px;
		};
	}
	// .partners__subtitle
	&__subtitle {
		font-weight: 500;
		padding-left: 107px;
		padding-top: 20px;
		padding-right: 30px;
		margin-top: 150px;
		position: relative;
		&:before {
			position:absolute;
			content: "";
			top:0;
			left: 50px;
			width: 18px;
			height: 100%;
			background-color: #fff;
			opacity: 0.1;
			@media (max-width: 1470px) {
				left: calc(0px + (50 - 0) * ((100vw - 320px) / (1470 - 320)));
				width: calc(5px + (18 - 5) * ((100vw - 320px) / (1470 - 320)));
			};
		}
		@media (max-width: 1650px) {
			margin-top: 0;
		};
		@media (max-width: 1470px) {
			padding-left: calc(15px + (107 - 15) * ((100vw - 320px) / (1470 - 320)));
			font-size: calc(14px + (22 - 14) * ((100vw - 320px) / (1470 - 320)));
			padding-top: calc(5px + (20 - 5) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (max-width: 900px) {
			padding-right: 0;
		};
	}
	// .partners__image-cont
	&__image-cont {
		display: flex;
		justify-content: flex-end;
		@media (max-width: 900px) {
			justify-content: center;
			margin-top: 30px;
		};
	}
	// .partners__image
	&__image {
		& source, img {
			max-width: 100%;
			object-fit: cover;
			object-position:center;
		}
	}
}
//end partners
//start contacts
.contacts {
	// .contacts__wrapper
	&__wrapper {
		background-color: #201f25;
	}
	// .contacts__inner
	&__inner {
		position: relative;
		padding-top: 70px;
		padding-bottom: 70px;
		&:before {
			position:absolute;
			content: "";
			top:0;
			left:0;
			width: 100%;
			height: 510px;
			background-color: #282834;
			@media (max-width: 1470px) {
				height: calc(400px + (510 - 400) * ((100vw - 991px) / (1470 - 991)));
			};
		}
		@media (max-width: 1470px) {
			padding-bottom: calc(25px + (70 - 25) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (min-width: 991.98px) {
			display: flex;
		};
	}
	// .contacts__title
	&__title {
		position: relative;
		z-index: 50;
		text-align: center;
		text-shadow:
			0 7px 5px rgba(0, 0, 0, 0.07),
			0 31px 21px rgba(0, 0, 0, 0.12),
			0 80px 65px rgba(0, 0, 0, 0.19),
			15px -15px 0 rgba(23, 23, 23, 1);
		color: #282834;
		font-size: 160px;
		line-height: 200 / 160 * 100%;
		font-weight: 900;
		transform: translateY(70px);
		@media (max-width: 1470px) {
			font-size: calc(50px + (160 - 50) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (max-width: 991.98px) {
			transform: translateY(40px);
		};
		@media (max-width: 767.98px) {
			text-shadow:
			0 7px 5px rgba(0, 0, 0, 0.07),
			0 31px 21px rgba(0, 0, 0, 0.12),
			0 80px 65px rgba(0, 0, 0, 0.19),
			12px -12px 0 rgba(23, 23, 23, 1);
		};
		@media (max-width: 479.98px) {
			text-shadow:
			0 7px 5px rgba(0, 0, 0, 0.07),
			0 31px 21px rgba(0, 0, 0, 0.12),
			0 80px 65px rgba(0, 0, 0, 0.19),
			8px -8px 0 rgba(23, 23, 23, 1);
		};
	}
	// .contacts__item
	&__item {
		padding-left: 50px;
		position: relative;
		font-size: 20px;
		line-height: 35 / 20 * 100%;
		font-weight: 500;
		&:before {
			position:absolute;
			content: "";
			left:0;
			background-image: url('../images/icons/phone-call.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
		& a {
			color: #fff;
		}
		+ .contacts__item {
			margin-top: 20px;
		}
		@media (max-width: 1470px) {
			font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .contacts__phones
	&__phones {
		display: inline-flex;
		flex-direction: column;
		&:before {
			top: 0px;
			width: 26px;
			height: 26px;
			background-image: url('../images/icons/phone-call.svg');
		}
	}
	// .contacts__email
	&__email {
		&:before {
			top: 50%;
			transform: translateY(-50%);
			width: 23px;
			height: 19px;
			background-image: url('../images/icons/mail-send.svg');
		}
	}
	// .contacts__address
	&__address {
		text-transform: uppercase;
		&:before {
			top: 5px;
			width: 26px;
			height: 26px;
			background-image: url('../images/icons/gps.svg');
		}
	}
	// .contacts__info
	&__info {
		flex: 0 0 100%;
	}
	// .contacts__info-box
	&__info-box {
		max-width: 1500px;
		margin: 0 auto;
		padding: 0 15px;
	}
	// .contacts__info-body
	&__info-body {
		@media (min-width: 991.98px) {
			width: 50%;
			max-width: 600px;
			padding-top: 94px;
			padding-right: 30px;
		};
	}
	// .contacts__map
	// .contacts__map-container
	&__map-container {
		@media (min-width: 991.98px) {
			position: relative;
			flex: 0 0 50%;
			transform: translateX(-100%);
			padding-top: 40px;
			padding-left: 40px;
			padding-bottom: 28%;
			position: relative;
			&:before, 
			&:after {
				position:absolute;
				content: "";
				top:0;
				left:0;
			}
			&:before {
				width: 350px;
				height: 16px;
				background-color: #171717;
			}
			&:after {
				width: 16px;
				height: 350px;
				background-color: #171717;
			}
		};
		@media (min-width: 1920px) {
			padding-bottom: 550px;
		};
	}
	& #map {
		width: 100%;
		height: 541px;
		@media (max-width: 1920px) {
			height: calc(280px + (541 - 280) * ((100vw - 991px) / (1920 - 991)));
		};
		@media (max-width: 990.98px) {
			height: 380px;
			padding: 0 15px;
		};
	}
	// .contacts__map-content
	&__map-content {
		@media (min-width: 991.98px) {
			position: absolute;
			top: 40px;
			left: 40px;
		};
		@media (max-width: 991.98px) {
			margin-top: 30px;
		};
	}
}
//end contacts
//start footer
.footer {
	// .footer__inner
	&__inner {
		position: relative;
		@media (min-width: 991.98px) {
			display: flex;
		};
	}
	&__menu, 
	&__elements, 
	&__copyright {
		position: relative;
		&:before, 
		&:after {
			position:absolute;
			content: "";
			top:0;
			width: 100%;
			height: 100%;
		}
		&:before {
			right: -100%;
		}
		&:after {
			left: -100%;
		}
	}
	// .footer__menu
	&__menu {
		flex: 1 1 30%;
		background-color: #282834;
		padding-top: 30px;
		position: relative;
		z-index: 50;
		.header__row {
			@media (max-width: 1500px) {
				padding-right: 20px;
			};
		}
		&:after {
			background-color: #282834;
			left: -100%;
		}
		&:before {
			display: none;
		}
		@media (max-width: 1400px) {
			flex: 1 1 20%;
		};
		@media (max-width: 991.98px) {
			display: none;
		};
	}
	// .footer__contacts
	&__contacts {
		position: relative;
		flex: 1 1 70%;
		background-color: #171717;
		@media (max-width: 1400px) {
			flex: 1 1 80%;
		};
	}
	// .footer__elements
	&__elements {
		width: 100%;
		text-align: right;
		display: flex;
		align-items: center;
		padding: 12px 0 12px 0;
		position: relative;
		&:before, 
		&:after {
			background-color: #171717;
		}
	}
	// .footer__logo-body
	&__logo-body {
		flex: 0 1 100%;
		margin-right: 20px;
	}
	// .footer__logo
	&__logo {
		max-width: 177px;
		width: 100%;
		& img {
			max-width: 100%;
			object-fit: cover;
			object-position:center;
		}
	}
	// .footer__phones
	&__phones {
		flex: 1 1 300px;
		& a {
			white-space: nowrap;
			color: #fff;
			font-weight: 300;
			@media (max-width: 1470px) {
				font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1470 - 320)));
			};
		}
	}
	// .footer__copyright
	&__copyright {
		background-color: #201f25;
		text-align: right;
		position: relative;
		&:before, 
		&:after {
			background-color: #201f25;
		}
	}
	//. footer__copy
	&__copy {
		padding: 15px 0;
		& span {
			font-size: 16px;
			line-height: 24 / 16 * 100%;
			@media (max-width: 1470px) {
				font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1470 - 320)));
			};
		}
		@media (max-width: 991.98px) {
			padding: 0 0 25px 0;
		};
	}
}
//end footer
//start popup
.popup-slider {
	// .popup-slider__container
	&__container {
		position: relative;
		overflow: hidden;
	}
	// .popup-slider__wrapper
	&__wrapper {
		width: 100%;
		display: flex;
	}
	// .popup-slider__item
	&__item {
		flex-shrink: 0;
		width: 100%;
		background-image: url('../images/logo-slider-bg+.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	// .popup-slider__image
	&__image {
		width: 100%;
		position: relative;
		& source, img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	&__button-prev, 
	&__button-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 12px 18px;
		background-color: #fff;
			box-shadow: 0 0 20px rgba(37, 36, 46, 1);

	}
	// .popup-slider__button-prev
	&__button-prev {
		left: 7px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 14'%3E%3Cpath fill='%23171717' fill-rule='nonzero' d='M2.65 6.98l4.66 -4.94c0.33,-0.35 0.33,-0.93 0,-1.28 -0.34,-0.36 -0.88,-0.36 -1.22,0l-5.27 5.58c-0.16,0.18 -0.25,0.41 -0.25,0.64 0,0.23 0.09,0.46 0.25,0.64l5.27 5.58c0.34,0.36 0.88,0.36 1.22,0 0.33,-0.35 0.33,-0.93 0,-1.28l-4.66 -4.94z'/%3E%3C/svg%3E%0A");
	}
	// .popup-slider__button-next
	&__button-next {
		right: 7px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 14'%3E%3Cpath fill='%23171717' fill-rule='nonzero' d='M5.49 6.98l-4.67 -4.94c-0.33,-0.35 -0.33,-0.93 0,-1.28 0.34,-0.36 0.88,-0.36 1.22,0l5.27 5.58c0.17,0.18 0.25,0.41 0.25,0.64 0,0.23 -0.08,0.46 -0.25,0.64l-5.27 5.58c-0.34,0.36 -0.88,0.36 -1.22,0 -0.33,-0.35 -0.33,-0.93 0,-1.28l4.67 -4.94z'/%3E%3C/svg%3E%0A");
	}
}

//end popup