.menu-burger {
	&__icon {
		display: none;
		width: 30px;
		height: 20px;
		position: relative;
		transition-duration: 0.7s;
		@media (max-width: 991.98px) {
			// position: absolute;
			// top: 15px;
			// right: 20px;
			display: block;
			margin-left: 20px;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		&:before, &:after {
			transform: rotate(0);
			transition-duration: 0.3s;
		}
		&.active {
			z-index: 7;
			transition-duration: 0.7s;
			&:before {
				transform: translateY(0) rotate(-45deg);
			}
			&:after {
				transform: translateY(0) rotate(45deg);
			}
			&:before, &:after {
				background-color: #fff;
				transition-duration: 0.3s;
				top: 50%;
			}
		}
	}
	&__middle {
		top: 50%;
		transform: translateY(-50%);
		transition-duration: 0.7s;
	}
}

.menu-burger__icon:before, .menu-burger__icon:after,
.menu-burger__icon .menu-burger__middle {
	position: absolute;
	content: "";
	left: 0;
	height: 4px;
	width: 30px;
	background-color: #fff;
	display: inline-block;
}
.menu-burger__icon.active .menu-burger__middle {
	transform: scale(0.1, 0.2);
	transition-duration: 0.7s;
}

.menu-burger {
	// .menu-burger__container
	&__container {
		display: none;
		@media (max-width: 991.98px) {
			display: block;
			position: fixed;
			z-index: 100;
			top: -120%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(40, 40, 52, 0.6);
			backdrop-filter: blur(5px);
			padding: 30px;
			transition: all 0.3s ease 0s;
			&.active {
				top: 0;
				overflow: auto;
			}
		};
	}
	// .menu-burger__list
	&__list {
		padding: 100px 30px 50px;
		@media (max-width: 767.98px) {
			padding: 100px 0 50px;
		};
	}
	// .menu-burger__item
	&__item {
		width: 100%;
		margin: 30px 0;
		border-radius: 10px;
		background-color: #282834;
		box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(5px);
		border: 1px solid rgba(255, 255, 255, 0.2);
		border-right: 1px solid rgba(255, 255, 255, 0.05);
		border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	}
	// .menu-burger__link
	&__link {
		text-align: center;
		padding: 20px 0;
		width: 100%;
		color: #fff;
		font-size: 32px;
		font-weight: 700;
		@media (max-width: 1170px) {
			font-size: calc(25px + (32 - 25) * ((100vw - 320px) / (1170 - 320)));
		};
	}
}

.title {
	text-shadow: 0 7px 5px rgba(0, 0, 0, 0.07), 0 31px 21px rgba(0, 0, 0, 0.12), 0 80px 65px rgba(0, 0, 0, 0.19);
	color: #282834;
	font-size: 100px;
	font-weight: 900;
	line-height: 130 / 100 * 100%;
	@media (max-width: 1470px) {
		font-size: calc(50px + (100 - 50) * ((100vw - 320px) / (1470 - 320)));
	};
}