.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
	z-index: 9999;
}
.popup.open {
	opacity: 1;
	visibility: visible;
}
.popup.open .popup__content {
	width: 100%;
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}
.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
	transition: all 0.8s ease 0s;
}
.popup__content {
	background-color: #fff;
	color: #000;
	max-width: 800px;
	padding: 30px;
	position: relative;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__content_image {
	padding: 0;
}
.popup__image img {
	max-width: 100%;
	vertical-align: top;
}

.popup__close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
	transition-duration: 0.3s;
	transform: scale(1) rotate(0deg);
	z-index: 50;
	&:before {
		position:absolute;
		content: "";
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
		background-size: 40px 40px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 50 50'%3E%3Cpath id='svg_7' fill='%23171717' fill-rule='nonzero' d='M27.77 24.83l6.46 6.46c0.79,0.8 0.8,2.08 0,2.88 -0.8,0.79 -2.08,0.79 -2.87,0l-6.47 -6.47 -6.46 6.47c-0.8,0.79 -2.08,0.79 -2.88,0 -0.79,-0.8 -0.79,-2.08 0,-2.88l6.47 -6.46 -6.47 -6.47c-0.79,-0.79 -0.79,-2.07 0,-2.87 0.8,-0.79 2.08,-0.79 2.88,0l6.46 6.47 6.47 -6.47c0.79,-0.79 2.07,-0.8 2.87,0 0.79,0.8 0.79,2.08 0,2.87l-6.46 6.47zm-2.88 24.38c-13.46,0 -24.38,-10.92 -24.38,-24.38 0,-13.46 10.92,-24.38 24.38,-24.38 13.47,0 24.38,10.92 24.38,24.38 0,13.46 -10.91,24.38 -24.38,24.38zm0 -4.07c11.22,0 20.32,-9.09 20.32,-20.31 0,-11.22 -9.1,-20.32 -20.32,-20.32 -11.22,0 -20.31,9.1 -20.31,20.32 0,11.22 9.09,20.31 20.31,20.31z'/%3E%3C/svg%3E%0A");
	}
	&:hover {
		transition-duration: 0.3s;
		transform: scale(1.1) rotate(180deg);
	}
}
.popup__title {
	max-width: 800px;
	
}
.popup__video {
	width: 100%;
	height: 100%;
}

