@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  font-size: 0;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url("../fonts/Montserrat-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/Montserrat-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
}

body.lock {
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.content {
  flex: 1 0 auto;
  margin-right: 0;
}

.footer {
  flex: 0 0 auto;
}

.container,
.container-fluid {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 1500px;
}

.container-fluid {
  max-width: 1780px;
}

.menu-burger__icon {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  transition-duration: 0.7s;
}

.menu-burger__icon:before {
  top: 0;
}

.menu-burger__icon:after {
  bottom: 0;
}

.menu-burger__icon:before,
.menu-burger__icon:after {
  transform: rotate(0);
  transition-duration: 0.3s;
}

.menu-burger__icon.active {
  z-index: 7;
  transition-duration: 0.7s;
}

.menu-burger__icon.active:before {
  transform: translateY(0) rotate(-45deg);
}

.menu-burger__icon.active:after {
  transform: translateY(0) rotate(45deg);
}

.menu-burger__icon.active:before,
.menu-burger__icon.active:after {
  background-color: #fff;
  transition-duration: 0.3s;
  top: 50%;
}

.menu-burger__middle {
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 0.7s;
}

.menu-burger__icon:before,
.menu-burger__icon:after,
.menu-burger__icon .menu-burger__middle {
  position: absolute;
  content: "";
  left: 0;
  height: 4px;
  width: 30px;
  background-color: #fff;
  display: inline-block;
}

.menu-burger__icon.active .menu-burger__middle {
  transform: scale(0.1, 0.2);
  transition-duration: 0.7s;
}

.menu-burger__container {
  display: none;
}

.menu-burger__list {
  padding: 100px 30px 50px;
}

.menu-burger__item {
  width: 100%;
  margin: 30px 0;
  border-radius: 10px;
  background-color: #282834;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.menu-burger__link {
  text-align: center;
  padding: 20px 0;
  width: 100%;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.title {
  text-shadow: 0 7px 5px rgba(0, 0, 0, 0.07), 0 31px 21px rgba(0, 0, 0, 0.12), 0 80px 65px rgba(0, 0, 0, 0.19);
  color: #282834;
  font-size: 100px;
  font-weight: 900;
  line-height: 130%;
}

.header {
  position: relative;
  z-index: 500;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.header__wrapper:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1a1c;
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.25);
}

.header__inner {
  position: relative;
  z-index: 55;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease 0s;
}

.header__inner.active {
  height: 60px;
}

.header__menu-row {
  width: 100%;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__logo-wrap {
  flex: 0 0 120px;
}

.header__logo {
  width: 100%;
  max-width: 120px;
}

.header__logo img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.header__btn-row {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.header__phone {
  margin-left: 30px;
}

.header__catalog {
  display: none;
}

.header__phone-link,
.header__catalog-link {
  position: relative;
  color: #fff;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border: 2px solid #fff;
}

.header__phone-link:before {
  background-image: url("../images/icons/phone-call.svg");
}

.header__catalog-link:before {
  background-image: url("../images/icons/catalog.svg");
}

.header__row {
  flex: 1 1 auto;
  max-width: 1000px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  padding-right: 150px;
}

.header__menu-list {
  display: flex;
  justify-content: center;
}

.header__menu-item {
  margin-right: 30px;
  margin-left: 30px;
}

.header__menu-link {
  color: #fff;
}

.sila__wrapper {
  position: relative;
  padding-top: 75px;
  padding-bottom: 115px;
  background-color: #24232c;
}

.sila__inner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.sila__inner:before,
.sila__inner:after {
  position: absolute;
  text-shadow: 0 7px 5px rgba(0, 0, 0, 0.07), 0 31px 21px rgba(0, 0, 0, 0.12), 0 80px 65px rgba(0, 0, 0, 0.19);
  color: #282834;
  font-family: Montserrat;
  font-size: 160px;
  font-weight: 900;
  z-index: 0;
}

.sila__inner:before {
  content: "ооо";
  top: 17%;
  left: -17.5%;
}

.sila__inner:after {
  color: #171717;
  content: "«SILA»";
  top: 29%;
  right: -11%;
  font-style: italic;
  text-transform: uppercase;
}

.sila__thumbs-wrap {
  overflow: hidden;
  transform: translateX(75px);
}

.sila__top {
  position: relative;
  z-index: 1;
}

.sila__cont {
  max-width: 1080px;
  max-height: 1080px;
  overflow: hidden;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.07), 0 31px 21px rgba(0, 0, 0, 0.12), 0 80px 65px rgba(0, 0, 0, 0.19);
}

.sila__cont.sila__thumbs {
  box-shadow: none;
  overflow: visible;
}

.sila__cont.sila__thumbs .sila__cont {
  max-width: 1920px;
  width: 100%;
}

.sila__cont.sila__thumbs .sila__wrap {
  width: 100%;
  max-width: 1920px;
  max-height: 250px;
}

.sila__cont.sila__thumbs .sila__item {
  cursor: pointer;
  max-width: 250px;
}

.sila__cont.sila__thumbs .sila__item + .sila__item {
  margin-left: 40px;
}

.sila__wrap {
  display: flex;
}

.sila__wrap--vertical {
  flex-direction: column;
}

.sila__item {
  flex-shrink: 0;
  width: 100%;
}

.sila__image {
  width: 100%;
}

.sila__image source,
.sila__image img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.sila__navigations {
  position: relative;
  display: flex;
  height: 100%;
  z-index: 11;
}

.sila__pagination {
  min-width: 110px;
  position: relative;
  text-shadow: 0 7px 5px rgba(0, 0, 0, 0.07), 0 31px 21px rgba(0, 0, 0, 0.12), 0 80px 65px rgba(0, 0, 0, 0.19);
  font-family: Montserrat;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-25px, -30px);
}

.sila__pagination:before {
  position: absolute;
  content: "";
  top: 64%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 77px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.35);
}

.sila__fraction-curent {
  color: #fff;
  font-size: 160px;
  line-height: 112.5%;
}

.sila__fraction-total {
  font-size: 86px;
  line-height: 139.53488%;
  color: rgba(255, 255, 255, 0.35);
  transform: translateY(20px);
}

.sila__buttons {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  transform: translateX(-15px);
}

.sila__button-prev,
.sila__button-next {
  position: relative;
}

.sila__button-prev:before,
.sila__button-next:before {
  transition: all 0.3s ease 0s;
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  width: 30px;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.sila__button-prev:after,
.sila__button-next:after {
  display: none;
}

.sila__button-prev.swiper-button-disabled,
.sila__button-next.swiper-button-disabled {
  opacity: 0.35;
}

.sila__button-next {
  height: 173px;
  margin-top: 22px;
}

.sila__button-next:before {
  height: 183px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 183.01'%3E%3Cpolygon fill='%23fff' points='0.73,157.95 14.77,182.94 29.18,157.95 17.49,157.96 17.4,0.8 12.01,0.81 12.02,157.95 '/%3E%3C/svg%3E%0A");
}

.sila__button-next:after {
  transform: translate(-55%, -50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 14'%3E%3Cpath fill='%23171717' fill-rule='nonzero' d='M2.65 6.98l4.66 -4.94c0.33,-0.35 0.33,-0.93 0,-1.28 -0.34,-0.36 -0.88,-0.36 -1.22,0l-5.27 5.58c-0.16,0.18 -0.25,0.41 -0.25,0.64 0,0.23 0.09,0.46 0.25,0.64l5.27 5.58c0.34,0.36 0.88,0.36 1.22,0 0.33,-0.35 0.33,-0.93 0,-1.28l-4.66 -4.94z'/%3E%3C/svg%3E%0A");
}

.sila__button-prev {
  height: 73px;
}

.sila__button-prev:before {
  height: 73px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 75'%3E%3Cpolygon fill='%23fff' points='0.88,25.77 14.93,0.79 29.34,25.77 17.65,25.76 17.56,75.44 12.17,75.43 12.18,25.77 '/%3E%3C/svg%3E%0A");
}

.sila__button-prev:after {
  transform: translate(-45%, -50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 14'%3E%3Cpath fill='%23171717' fill-rule='nonzero' d='M5.49 6.98l-4.67 -4.94c-0.33,-0.35 -0.33,-0.93 0,-1.28 0.34,-0.36 0.88,-0.36 1.22,0l5.27 5.58c0.17,0.18 0.25,0.41 0.25,0.64 0,0.23 -0.08,0.46 -0.25,0.64l-5.27 5.58c-0.34,0.36 -0.88,0.36 -1.22,0 -0.33,-0.35 -0.33,-0.93 0,-1.28l4.67 -4.94z'/%3E%3C/svg%3E%0A");
}

.sila__main-cont {
  position: absolute;
  top: -35px;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
}

.sila__title-wrap {
  display: flex;
  justify-content: flex-end;
}

.sila__title-cont {
  flex: 0 1 66%;
}

.sila__title {
  font-weight: 900;
  white-space: nowrap;
}

.sila__title :first-child {
  font-size: 100px;
  line-height: 130%;
}

.sila__title :last-child {
  font-size: 135px;
  line-height: 118.51852%;
}

.sila__subtitle {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  font-style: italic;
}

.sila__button-wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
}

.sila__button-cont {
  flex: 0 1 37%;
  padding: 60px 0 50px;
}

.sila__btn {
  position: relative;
  max-width: 208px;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 260%;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 30px;
  padding-top: 10px;
}

.sila__btn img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  z-index: -1;
}

.sila__btn:before {
  position: absolute;
  content: "";
  top: -55px;
  right: -90px;
  width: 155px;
  height: 155px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%0AviewBox='0 0 1795 1913.09'%3E%3Cpolygon fill='white' fill-rule='nonzero' points='1007.18,52.32 993.66,6.09 964.57,44.59 813.94,243.86 793.18,271.38 793.42,271.38 699.64,395.94 692.64,405.36 692.64,405.36 684.07,416.58 584.74,547.66 573.63,562.14 52.58,488.52 6.11,481.88 27.72,523.64 82.27,629.13 87.22,638.91 97.84,641.56 347.71,705.27 499.55,693.68 120.29,597.27 92.29,543.07 840.38,648.81 849.91,601.25 645.33,547.9 714.12,457.26 905.43,483.93 914.85,436.5 760.23,396.19 832.77,299.75 954.19,321.47 965.78,274.52 873.45,245.68 974.23,112.18 1139.7,675.96 1143.2,687.79 1154.79,691.89 1678.98,881.51 1200.78,1195.81 1190.16,1202.81 1189.91,1215.48 1176.15,1793.62 770.73,1426.22 699.04,1426.22 159.64,1582.4 216.16,1422.25 164.74,1422.25 98.33,1610.65 82.76,1655.06 127.9,1642.03 740.92,1464.48 1182.79,1865.2 1222.02,1900.8 1223.35,1847.82 1238.07,1229.36 1746.09,895.39 1786.52,868.84 1741.02,852.3 1182.79,650.5 '/%3E%3C/svg%3E%0A");
}

.sila__dinamic {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about__wrapper {
  position: relative;
  background-color: #171717;
  padding-top: 60px;
  padding-bottom: 120px;
}

.about__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about__bg-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50.5%, -150px);
  height: 100%;
  z-index: 0;
}

.about__bg-image img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.about__content {
  position: relative;
  z-index: 2;
}

.about__heading {
  max-width: 890px;
  margin: 0 auto;
  text-align: center;
}

.about__heading :first-child {
  color: #f46036;
  font-size: 60px;
  font-weight: 400;
  line-height: 78px;
}

.about__heading :last-child {
  color: #ffffff;
  font-size: 35px;
  font-weight: 400;
  line-height: 128.57143%;
}

.about__text,
.about__images-box {
  flex: 1 1 50%;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
}

.about__paragraf {
  display: block;
}

.about__paragraf + .about__paragraf {
  margin-top: 60px;
}

.about__images {
  position: relative;
  text-align: right;
  padding-left: 30px;
}

.about__image {
  max-width: 468px;
  box-shadow: -4px 0 9px rgba(0, 0, 0, 0.07), -17px -2px 26px rgba(0, 0, 0, 0.12), -43px -4px 69px rgba(0, 0, 0, 0.16), -85px -8px 158px rgba(0, 0, 0, 0.23);
}

.about__image source,
.about__image img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.about__image--absolut {
  position: absolute;
  bottom: -35px;
  left: 40px;
  max-width: 368px;
}

.suggestion {
  position: relative;
  z-index: 20;
}

.suggestion__wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 9px 22px rgba(0, 0, 0, 0.09), 0 41px 97px rgba(0, 0, 0, 0.15);
  background-color: #f46036;
}

.suggestion__row {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
}

.suggestion__item--center {
  text-align: left;
  color: #171717;
  max-width: 750px;
  padding-right: 40px;
}

.suggestion__item--attantion {
  padding: 0 80px;
}

.suggestion__item--button {
  margin-top: 30px;
  padding: 50px 0;
}

.suggestion__title {
  font-size: 42px;
  line-height: 119.04762%;
  font-weight: 600;
}

.suggestion__paragraf {
  font-size: 22px;
  font-weight: 400;
  line-height: 130%;
  margin-top: 40px;
}

.suggestion__btn {
  position: relative;
  color: #fff;
  font-size: 20px;
  line-height: 130%;
  background-color: #282834;
  padding: 18px 115px 18px 21px;
  white-space: nowrap;
}

.suggestion__btn:before,
.suggestion__btn:after {
  transition: all 0.3s ease 0s;
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}

.suggestion__btn:before {
  right: 21px;
  width: 71px;
  height: 1px;
}

.suggestion__btn:after {
  left: 50px;
  width: 142px;
  height: 142px;
  z-index: -1;
}

.catalog__wrapper {
  position: relative;
  z-index: 50;
  background-color: #201f25;
  padding-top: 100px;
  padding-bottom: 122px;
}

.catalog__title {
  padding-bottom: 70px;
}

.catalog__text-item {
  flex: 1 1 50%;
}

.catalog__text-item--left {
  padding-right: 100px;
}

.catalog__text-item--left span {
  color: #f46036;
  font-weight: 600;
}

.catalog__text-item--right {
  font-size: 20px;
  line-height: 185%;
  font-weight: 300;
  padding-left: 20px;
}

.catalog__subtitle {
  font-size: 60px;
  font-weight: 900;
  line-height: 125%;
  margin-top: 65px;
  margin-bottom: 60px;
}

.catalog__subtitle--premium {
  color: #f46036;
  margin-top: 100px;
}

.cards__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -18px;
}

.cards__item {
  max-width: 500px;
  padding: 18px;
}

.cards__item-inner {
  background-color: #282834;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.07), 0 31px 21px rgba(0, 0, 0, 0.12), 0 80px 65px rgba(0, 0, 0, 0.19);
}

.cards__image {
  width: 100%;
  max-width: 500px;
}

.cards__image source,
.cards__image img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.cards__title {
  font-size: 36px;
  line-height: 125%;
  font-weight: 600;
  text-align: center;
}

.cards__subtitle {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  line-height: 180%;
}

.cards__subtitle span {
  font-weight: 500;
}

.cards__heading {
  padding: 30px 45px 0;
}

.cards__discription {
  padding-top: 10px;
}

.cards__info {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  font-size: 18px;
  line-height: 180%;
}

.cards__info:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #fff;
  z-index: 0;
}

.cards__elem-name,
.cards__elem-value {
  position: relative;
  background-color: #282834;
  z-index: 2;
}

.cards__elem-name {
  padding-right: 20px;
}

.cards__elem-value {
  font-weight: 500;
  padding-left: 20px;
}

.cards__colors {
  margin: 27px 0 25px;
}

.cards__colors,
.cards__price {
  padding: 0 45px;
}

.cards__color {
  width: 50px;
  height: 50px;
  background-color: #e2e2e2;
  transition: all 0.3s ease 0s;
}

.cards__color + .cards__color {
  margin-left: 10px;
}

.cards__price {
  padding-top: 21px;
  padding-bottom: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171717;
}

.cards__count {
  font-size: 30px;
  font-weight: 600;
  line-height: 180%;
}

.cards__open {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 180%;
  text-decoration: underline;
}

@media (min-width: 991.98px) {
  .about__discription {
    display: flex;
  }

  .suggestion__btn:hover:after {
    left: 40px;
  }

  .catalog__text-row {
    display: flex;
  }

  .cards__color:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: 1750px) {
  .sila__thumbs-wrap {
    transform: translateX(0);
    width: 100%;
  }

  .sila__navigations {
    padding-left: 55px;
  }

  .sila__pagination {
    transform: translate(0, -30px);
    margin-left: 50px;
  }

  .sila__buttons {
    padding: 0 35px;
  }

  .sila__dinamic {
    flex-direction: row-reverse;
  }
}

@media (max-width: 1500px) {
  .header__btn-row {
    padding-right: 15px;
  }

  .sila__inner:before {
    display: none;
  }

  .about__wrapper {
    padding-top: 120px;
  }

  .suggestion__item--attantion {
    padding: 0 60px 0 0;
  }
}

@media (max-width: 1470px) {
  .title {
    font-size: calc(50px + (100 - 50) * ((100vw - 320px) / (1470 - 320)));
  }

  .header__phone-link,
  .header__catalog-link {
    font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1470 - 320)));
    padding-left: calc(15px + (50 - 15) * ((100vw - 320px) / (1470 - 320)));
    padding-right: calc(15px + (50 - 15) * ((100vw - 320px) / (1470 - 320)));
  }

  .header__menu-item {
    margin-right: calc(0px + (30 - 0) * ((100vw - 320px) / (1470 - 320)));
    margin-left: calc(0px + (30 - 0) * ((100vw - 320px) / (1470 - 320)));
  }

  .sila__wrapper {
    padding-bottom: calc(50px + (115 - 50) * ((100vw - 320px) / (1470 - 320)));
  }

  .sila__title :first-child {
    font-size: calc(20px + (100 - 20) * ((100vw - 320px) / (1470 - 320)));
  }

  .sila__title :last-child {
    font-size: calc(35px + (135 - 35) * ((100vw - 320px) / (1470 - 320)));
  }

  .sila__subtitle {
    font-size: calc(16px + (50 - 16) * ((100vw - 320px) / (1470 - 320)));
  }

  .about__heading :first-child {
    font-size: calc(40px + (60 - 40) * ((100vw - 320px) / (1470 - 320)));
  }

  .about__heading :last-child {
    font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1470 - 320)));
  }

  .about__heading {
    margin-bottom: 65px;
    margin-bottom: calc(25px + (65 - 25) * ((100vw - 320px) / (1470 - 320)));
  }

  .about__paragraf + .about__paragraf {
    margin-top: calc(25px + (60 - 25) * ((100vw - 320px) / (1470 - 320)));
  }

  .about__paragraf {
    font-size: calc(14px + (22 - 14) * ((100vw - 320px) / (1470 - 320)));
  }

  .suggestion__wrapper {
    padding-top: calc(60px + (120 - 60) * ((100vw - 320px) / (1470 - 320)));
    padding-bottom: calc(60px + (120 - 60) * ((100vw - 320px) / (1470 - 320)));
  }

  .suggestion__title {
    font-size: calc(35px + (42 - 35) * ((100vw - 320px) / (1470 - 320)));
  }

  .suggestion__paragraf {
    margin-top: calc(25px + (40 - 25) * ((100vw - 320px) / (1470 - 320)));
    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1470 - 320)));
  }

  .catalog__wrapper {
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1470 - 320)));
    padding-bottom: calc(50px + (122 - 50) * ((100vw - 320px) / (1470 - 320)));
  }

  .catalog__title {
    padding-bottom: calc(30px + (70 - 30) * ((100vw - 320px) / (1470 - 320)));
  }

  .catalog__text-item--left {
    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1470 - 320)));
  }

  .catalog__text-item--right {
    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1470 - 320)));
  }

  .catalog__subtitle {
    font-size: calc(40px + (60 - 40) * ((100vw - 320px) / (1470 - 320)));
    margin-top: calc(40px + (65 - 40) * ((100vw - 320px) / (1470 - 320)));
    margin-bottom: calc(40px + (60 - 40) * ((100vw - 320px) / (1470 - 320)));
  }

  .cards__title {
    font-size: calc(30px + (36 - 30) * ((100vw - 320px) / (1470 - 320)));
  }

  .cards__info {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1470 - 320)));
  }

  .cards__count {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1470 - 320)));
  }

  .cards__open {
    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1470 - 320)));
  }
}

@media (max-width: 1290px) {
  .sila__inner:after {
    display: none;
  }

  .sila__cont.sila__thumbs .sila__wrap {
    max-width: 1290px;
    max-height: 250px;
    max-width: calc(300px + (1290 - 300) * ((100vw - 320px) / (1290 - 320)));
    max-height: calc(50px + (250 - 50) * ((100vw - 320px) / (1290 - 320)));
  }

  .sila__cont.sila__thumbs .sila__item + .sila__item {
    margin-left: calc(5px + (40 - 5) * ((100vw - 320px) / (1290 - 320)));
  }

  .sila__cont.sila__thumbs .sila__item {
    max-width: calc(70px + (250 - 70) * ((100vw - 320px) / (1290 - 320)));
    max-height: calc(50px + (250 - 50) * ((100vw - 320px) / (1290 - 320)));
  }

  .sila__navigations {
    padding-left: 0;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: auto;
  }

  .sila__pagination:before {
    top: 50%;
    height: calc(2px + (4 - 2) * ((100vw - 320px) / (1290 - 320)));
    width: calc(20px + (77 - 20) * ((100vw - 320px) / (1290 - 320)));
  }

  .sila__pagination {
    min-width: auto;
    transform: translate(0);
    margin-left: 0;
    margin: 0 20px;
  }

  .sila__fraction-total {
    transform: translateY(0);
  }

  .sila__fraction-curent,
  .sila__fraction-total {
    font-size: 50px;
    line-height: 140%;
    font-size: calc(25px + (50 - 25) * ((100vw - 320px) / (1290 - 320)));
  }

  .sila__buttons {
    flex-direction: row;
    transform: translateX(0);
    padding: 0;
  }

  .sila__button-prev:before,
  .sila__button-next:before {
    display: none;
  }

  .sila__button-prev,
  .sila__button-next {
    margin: 20px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 20px #25242e;
    height: calc(45px + (65 - 45) * ((100vw - 320px) / (1290 - 320)));
    width: calc(45px + (65 - 45) * ((100vw - 320px) / (1290 - 320)));
  }

  .sila__button-prev:after,
  .sila__button-next:after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 26px;
    height: 32px;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .sila__main-cont {
    top: 250px;
    height: 900px;
    align-items: flex-start;
    top: calc(170px + (250 - 170) * ((100vw - 320px) / (1470 - 320)));
    height: calc(400px + (900 - 400) * ((100vw - 320px) / (1470 - 320)));
  }

  .sila__title-cont {
    flex: 0 1 90%;
  }

  .sila__button-cont {
    flex: 0 1 90%;
  }

  .sila__dinamic {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }
}

@media (max-width: 1290px) and (max-width: 1470px) {
  .sila__cont {
    max-height: calc(500px + (1080 - 500) * ((100vw - 320px) / (1470 - 320)));
  }
}

@media (max-width: 1200px) {
  .suggestion__item--attantion {
    padding: 0;
  }
}

@media (max-width: 1170px) {
  .menu-burger__link {
    font-size: calc(25px + (32 - 25) * ((100vw - 320px) / (1170 - 320)));
  }
}

@media (max-width: 991.98px) {
  .menu-burger__icon {
    display: block;
    margin-left: 20px;
  }

  .menu-burger__container {
    display: block;
    position: fixed;
    z-index: 100;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 52, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 30px;
    transition: all 0.3s ease 0s;
  }

  .menu-burger__container.active {
    top: 0;
    overflow: auto;
  }

  .header__catalog {
    display: block;
  }

  .header__row {
    display: none;
  }

  .about__text,
  .about__images-box {
    flex: 1 1 auto;
  }

  .about__images {
    padding-left: 0;
    margin-top: 30px;
  }

  .suggestion__item--attantion {
    display: none;
  }

  .catalog__text-item {
    flex: 1 1 auto;
  }

  .catalog__text-item + .catalog__text-item {
    margin-top: 20px;
  }

  .catalog__text-item--left,
  .catalog__text-item--right {
    padding: 0;
  }
}

@media (max-width: 767.98px) {
  .menu-burger__list {
    padding: 100px 0 50px;
  }

  .sila__cont.sila__thumbs {
    display: none;
  }

  .sila__button-cont {
    padding: 40px 0 0;
  }

  .sila__btn:before {
    top: -35px;
    right: -65px;
    width: 99px;
    height: 99px;
  }

  .sila__btn {
    max-width: 120px;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 7px;
  }

  .about__text {
    padding-right: 0;
  }

  .suggestion__row {
    display: block;
  }
}

@media (max-width: 540px) {
  .header__logo {
    max-width: 100px;
  }

  .header__phone-link,
  .header__catalog-link {
    border: 0;
    font-size: 0;
  }

  .header__phone-link:before,
  .header__catalog-link:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 479.98px) {
  .sila__button-prev,
  .sila__button-next {
    margin: 10px;
  }

  .about__wrapper {
    padding-top: 80px;
  }

  .cards__heading {
    padding: 43px 20px 0;
  }

  .cards__elem-name {
    padding-right: 10px;
  }

  .cards__elem-value {
    padding-left: 10px;
  }

  .cards__colors {
    margin: 5px 0 20px;
  }

  .cards__colors,
  .cards__price {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 335px) {
  .suggestion__btn {
    padding: 18px 80px 18px 21px;
  }

  .suggestion__btn:before {
    right: 20px;
    width: 40px;
  }
}