.select {
	position: relative;
	&:after {
		position: absolute;
		content: "";
		top: 8px;
		right: 0;
		width: 10px;
		height: 6px;
		pointer-events:none;
		background-size: 10px 6px;
		transition-duration: 0.3s;
		background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.750001L0.714286 8.21863e-07L5.71429 5.25L5 6L0 0.750001Z' fill='white'/%3E%3Cpath d='M9.28571 0L10 0.75L5 6L4.28571 5.25L9.28571 0Z' fill='white'/%3E%3C/svg%3E%0A");
	}
	&:hover {
		transition-duration: 0.3s;
		&:after {
			transition-duration: 0.3s;
			filter: invert(23%) sepia(19%) saturate(2765%) hue-rotate(85deg) brightness(100%) contrast(93%);
		}
	}
	& select {
		position: relative;
		font-family: Roboto;
		font-style: normal;
		font-weight: 300;
		font-size: 20px;
		line-height: 21px;
		color: #fff;
		appearance: none;
		background: transparent;
		overflow: hidden;
		cursor: pointer;
		border: 0;
		outline: 0;
		box-shadow: none;
		padding-right: 15px;
		& option {
			font-family: inherit;
			font-size: 16px;
			color: #000;
			appearance: none;
			background: #ccc;
		}
	}
}