.informations__label {
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 100%;
	background-color: red;
}

.informations__upload {
	opacity: 0;
	position: absolute;
	z-index: -1;
	overflow: hidden;
	width: 0.4px;
	height: 0.4px;
	pointer-events:none;
	user-select:none;
}